language: android
jdk: oraclejdk8
android:
  components:
    - tools
    - platform-tools
    - build-tools-25.0.3
    - android-25
    - extra-android-support
    - extra-android-m2repository
    - extra-google-m2repository

  licenses:
    - '.+'

before_install:
  - chmod +x gradlew

after_failure: "cat $TRAVIS_BUILD_DIR/sample/build/reports/lint-results.xml"